In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from surprise import Reader, Dataset, SVD
from surprise.model_selection import KFold
from surprise.model_selection.validation import cross_validate

print("Import Success")

Import Success

In [2]:
# The main Movies Metadata file
meta = pd.read_csv('Dataset/movies_metadata.csv')
meta.head()

/usr/local/Caskroom/miniconda/base/envs/contextualRecommender/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
# Rating
ratings = pd.read_csv('Dataset/ratings_small.csv')
ratings.head() # Movies in this dataset are rated out of 5 instead of 10

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
#Links of IMDb and TMDb
links = pd.read_csv('Dataset/links_small.csv')
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
keywords = pd.read_csv('Dataset/keywords.csv')
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [6]:
# -- Content-focused recommender --

meta['overview'] = meta['overview'].fillna('')
meta['overview'].head() # Sample descriptions

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [7]:
# Check the datatype of "id" in movies_metadata.csv
pd.DataFrame({'feature':meta.dtypes.index, 'dtype':meta.dtypes.values})

                  feature    dtype
0                   adult   object
1   belongs_to_collection   object
2                  budget   object
3                  genres   object
4                homepage   object
5                      id   object
6                 imdb_id   object
7       original_language   object
8          original_title   object
9                overview   object
10             popularity   object
11            poster_path   object
12   production_companies   object
13   production_countries   object
14           release_date   object
15                revenue  float64
16                runtime  float64
17       spoken_languages   object
18                 status   object
19                tagline   object
20                  title   object
21                  video   object
22           vote_average  float64
23             vote_count  float64

In [8]:
meta = meta.drop([19730, 29503, 35587]) # Remove these ids to solve ValueError: "Unable to parse string..."

# Convert object to int64 for compatibility during merging
meta['id'] = pd.to_numeric(meta['id'])

# Run  the following code for converting more than one value to integer
# def convert_int(x):
#     try:
#         return int(x)
#     except:
#         return np.nan

In [9]:
# Check the datatype of "tmdbId" in links_small.csv
pd.DataFrame({'feature':links.dtypes.index, 'dtype':links.dtypes.values})

   feature    dtype
0  movieId    int64
1   imdbId    int64
2   tmdbId  float64

In [10]:
# Convert float64 to int64
col=np.array(links['tmdbId'], np.int64)
links['tmdbId']=col

In [11]:
# Merge the dataframes on column "tmdbId"
meta.rename(columns={'id':'tmdbId'}, inplace=True)
meta = pd.merge(meta,links,on='tmdbId')
meta.drop(['imdb_id'], axis=1, inplace=True)
meta.head()

# Alternatively, run the following code to reduce the size of movies_metadata.csv to match links_small.csv
# meta = meta[meta['tmdbId'].isin(links)]
# meta.shape

,adult,belongs_to_collection,budget,genres,homepage,tmdbId,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,movieId,imdbId
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1,114709
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,2,113497
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,3,113228
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,4,114885
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,5,113041

In [12]:
# Remove stop words and use TF-IDF vectorizer
tfidf = TfidfVectorizer(stop_words='english')
# Construct TF-IDF matrix
tfidf_matrix = tfidf.fit_transform(meta['overview'])
tfidf_matrix.shape

(9099, 29727)

In [13]:
# Compute cosine similarity
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
# Get corresponding indices of the movies
indices = pd.Series(meta.index, index=meta['original_title']).drop_duplicates()

In [14]:
# Recommendation function
def recommend(title, cosine_sim=cosine_sim):

    # Get the index of the movie that matches the title
    idx = indices[title]
    # Get the pairwise similarity scores of all movies with the given movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Get the scores of the 15 most similar movies
    sim_scores = sim_scores[1:16]
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    # Remove low-rated movies or outliers
    for i in movie_indices:
        pop = meta.at[i,'vote_average']
        if pop<5 or pop>10:
            movie_indices.remove(i)

    # Return the most similar movies qualifying the 5.0 rating threshold
    return meta[['original_title','vote_average']].iloc[movie_indices]

In [15]:
recommend('Iron Man')

                  original_title  vote_average
7516                  Iron Man 2           6.6
8296                  Iron Man 3           6.8
5670                    Scarface           7.5
8766     Avengers: Age of Ultron           7.3
8100                       Brake           5.3
4274        Saturday Night Fever           6.5
6063                     Hostage           6.2
2322               The Dark Half           5.4
6152               Batman Begins           7.5
1650  Return from Witch Mountain           5.6
5057     Dr. Jekyll and Mr. Hyde           6.6
1001               Touch of Evil           7.6
7183          Echelon Conspiracy           5.4
813     Escape to Witch Mountain           6.5
1774          Married to the Mob           5.8

In [16]:
# -- User-focused recommender --

reader = Reader() # Used to parse a file containing ratings
df = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
kf = KFold(n_splits=5)
kf.split(df) # Split the data into folds

In [17]:
# Use Single Value Decomposition (SVD) for cross-validation and fitting
svd = SVD()
cross_validate(svd, df, measures=['RMSE', 'MAE'])

trainset = df.build_full_trainset()
svd.fit(trainset)

In [18]:
# Check a random user's ratings
ratings[ratings['userId'] == 10]

     userId  movieId  rating  timestamp
744      10       50     5.0  942766420
745      10      152     4.0  942766793
746      10      318     4.0  942766515
747      10      344     3.0  942766603
748      10      345     4.0  942766603
749      10      592     3.0  942767328
750      10      735     4.0  942766974
751      10     1036     3.0  942767258
752      10     1089     3.0  942766420
753      10     1101     2.0  942767328
754      10     1127     4.0  942767328
755      10     1196     4.0  942767258
756      10     1197     4.0  942767258
757      10     1198     4.0  942767258
758      10     1200     4.0  942767258
759      10     1210     4.0  942767258
760      10     1220     3.0  942767328
761      10     1240     4.0  942767258
762      10     1291     4.0  942767258
763      10     1358     5.0  942766420
764      10     1423     4.0  942766420
765      10     1459     3.0  942766725
766      10     1499     3.0  942766845
767      10     1611     5.0  942767029
768      10     1690     3.0  942766679
769      10     1704     4.0  942766472
770      10     1719     5.0  942766472
771      10     1887     2.0  942766845
772      10     1923     5.0  942766515
773      10     2108     3.0  942766472
774      10     2344     5.0  942766991
775      10     2406     4.0  942767328
776      10     2410     2.0  942767328
777      10     2539     4.0  942766845
778      10     2571     5.0  942766515
779      10     2826     5.0  942766109
780      10     2827     3.0  942766251
781      10     2840     3.0  942766213
782      10     2841     4.0  942766029
783      10     2881     3.0  942766164
784      10     2890     4.0  942765978
785      10     2907     2.0  942766213
786      10     2926     5.0  942767121
787      10     2995     2.0  942766251
788      10     3005     3.0  942766059
789      10     3019     4.0  942767571

In [19]:
# Read the smaller links file again
links_df = pd.read_csv('Dataset/links_small.csv')
col=np.array(links_df['tmdbId'], np.int64)
links_df['tmdbId']=col

# Merge movies_metadata.csv and links_small.csv files
links_df = links_df.merge(meta[['title', 'tmdbId']], on='tmdbId').set_index('title')
links_index = links_df.set_index('tmdbId') # For label indexing

In [20]:
# Recommendation function
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = links_df.loc[title]['tmdbId'] # Get the corresponding tmdb id
    
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31] # Scores of the 30 most similar movies
    movie_indices = [i[0] for i in sim_scores]
    
    movies = meta.iloc[movie_indices][['title', 'vote_average', 'tmdbId']]
    movies['est'] = movies['tmdbId'].apply(lambda x: svd.predict(userId, links_index.loc[x]['movieId']).est) # Estimated prediction using svd
    movies = movies.sort_values('est', ascending=False) # Rank movies according to the predicted values
    print("ATTENTION   ")
    print(movies)
    movies.head()
    print("ATTENTION OVER")
    movies.columns = ['Title', 'Vote Average', 'TMDb Id', 'Estimated Prediction']
    return movies.head(30) # Display top 15 similar movies

In [21]:
#hybrid(30,'The Conjuring')

result = hybrid(10,'Iron Man')
print("data getting passed in contextual")
print(result)

ATTENTION
                           title  vote_average  tmdbId       est
1001               Touch of Evil           7.6    1480  4.102174
6152               Batman Begins           7.5     272  4.042090
1503          All the King's Men           6.3   25430  3.975325
8766     Avengers: Age of Ultron           7.3   99861  3.828715
5670                    Scarface           7.5     877  3.794117
2640           To Sir, with Love           7.6   25934  3.748362
892        Rebel Without a Cause           7.6     221  3.747054
5057     Dr. Jekyll and Mr. Hyde           6.6    3022  3.717376
8100                       Brake           5.3   85414  3.683998
3410                      Rififi           7.7     934  3.662107
6063                     Hostage           6.2    2026  3.658518
7183          Echelon Conspiracy           5.4   16325  3.627559
3846                       Baran           7.6   43774  3.603444
2322               The Dark Half           5.4   10349  3.573212
6286                  Wolf Creek           6.1    9885  3.564846
7516                  Iron Man 2           6.6   10138  3.550062
8025                The Big Bang           5.5   54271  3.548407
3011           Missing in Action           5.2   15379  3.533852
1774          Married to the Mob           5.8    2321  3.530623
673                       Ransom           6.4    3595  3.503378
4377                   Zoot Suit           6.9   76397  3.480058
1650  Return from Witch Mountain           5.6   14822  3.452936
8296                  Iron Man 3           6.8   68721  3.405572
4274        Saturday Night Fever           6.5   11009  3.390692
5184             The Magic Flute           7.1   44864  3.350019
813     Escape to Witch Mountain           6.5   14821  3.332198
2198  The Little Shop of Horrors           6.2   24452  3.289483
1704   The Clan of the Cave Bear           4.7   13853  3.061864
279            The Swan Princess           6.5   22586  3.057682
2047               Baby Geniuses           3.3   22345  2.846119
ATTENTION OVER
data getting passed in contextual
                           Title  Vote Average  TMDb Id  Estimated Prediction
1001               Touch of Evil           7.6     1480              4.102174
6152               Batman Begins           7.5      272              4.042090
1503          All the King's Men           6.3    25430              3.975325
8766     Avengers: Age of Ultron           7.3    99861              3.828715
5670                    Scarface           7.5      877              3.794117
2640           To Sir, with Love           7.6    25934              3.748362
892        Rebel Without a Cause           7.6      221              3.747054
5057     Dr. Jekyll and Mr. Hyde           6.6     3022              3.717376
8100                       Brake           5.3    85414              3.683998
3410                      Rififi           7.7      934              3.662107
6063                     Hostage           6.2     2026              3.658518
7183          Echelon Conspiracy           5.4    16325              3.627559
3846                       Baran           7.6    43774              3.603444
2322               The Dark Half           5.4    10349              3.573212
6286                  Wolf Creek           6.1     9885              3.564846
7516                  Iron Man 2           6.6    10138              3.550062
8025                The Big Bang           5.5    54271              3.548407
3011           Missing in Action           5.2    15379              3.533852
1774          Married to the Mob           5.8     2321              3.530623
673                       Ransom           6.4     3595              3.503378
4377                   Zoot Suit           6.9    76397              3.480058
1650  Return from Witch Mountain           5.6    14822              3.452936
8296                  Iron Man 3           6.8    68721              3.405572
4274        Saturday Night Fever           6.5    11009              3.390692
5184             The Magic Flute           7.1    44864              3.350019
813     Escape to Witch Mountain           6.5    14821              3.332198
2198  The Little Shop of Horrors           6.2    24452              3.289483
1704   The Clan of the Cave Bear           4.7    13853              3.061864
279            The Swan Princess           6.5    22586              3.057682
2047               Baby Geniuses           3.3    22345              2.846119

In [22]:
# necessary functions for contextual_update function
from datetime import datetime
def day_time():
    now = datetime.now().time()
    print(now)
    morning=now.replace(hour=12,minute=0,second=0,microsecond=0)
    afternoon=now.replace(hour=16,minute=0,second=0,microsecond=0)
    evening=now.replace(hour=19,minute=0,second=0,microsecond=0)

    if now< morning :
        return "morning"
    elif now<afternoon :
        return "afternoon"
    elif now<evening :
        return "evening"
    else :
        return "night"


#testing function
day_time()

22:38:07.426164

'night'

In [27]:
def contextual_update(list_passed,family=False) :
    # categories we have romance,action,comedy,drama ,crime and thriller ,documentary,sci-fi
    recommended_list=list_passed
    print("function reached 2")
    effect_rate = 0.75
    recommended_list['Estimated Prediction']=recommended_list['Estimated Prediction']-effect_rate
    #adding genre to recommended list
    recommended_list2 = pd.merge(recommended_list,links,left_on=['TMDb Id'],right_on=['tmdbId']).dropna()
    recommended_list2


    # Timing based

    day_part = day_time()
    #if day_part == "morning":x






    print(recommended_list2)



contextual_update(result)

function reached 2
22:39:23.547985
                         Title  Vote Average  TMDb Id  Estimated Prediction  \
0                Touch of Evil           7.6     1480              0.352174
1                Batman Begins           7.5      272              0.292090
2           All the King's Men           6.3    25430              0.225325
3      Avengers: Age of Ultron           7.3    99861              0.078715
4                     Scarface           7.5      877              0.044117
5            To Sir, with Love           7.6    25934             -0.001638
6        Rebel Without a Cause           7.6      221             -0.002946
7      Dr. Jekyll and Mr. Hyde           6.6     3022             -0.032624
8                        Brake           5.3    85414             -0.066002
9                       Rififi           7.7      934             -0.087893
10                     Hostage           6.2     2026             -0.091482
11          Echelon Conspiracy           5.4    16325             -0.122441
12                       Baran           7.6    43774             -0.146556
13               The Dark Half           5.4    10349             -0.176788
14                  Wolf Creek           6.1     9885             -0.185154
15                  Iron Man 2           6.6    10138             -0.199938
16                The Big Bang           5.5    54271             -0.201593
17           Missing in Action           5.2    15379             -0.216148
18          Married to the Mob           5.8     2321             -0.219377
19                      Ransom           6.4     3595             -0.246622
20                   Zoot Suit           6.9    76397             -0.269942
21  Return from Witch Mountain           5.6    14822             -0.297064
22                  Iron Man 3           6.8    68721             -0.344428
23        Saturday Night Fever           6.5    11009             -0.359308
24             The Magic Flute           7.1    44864             -0.399981
25    Escape to Witch Mountain           6.5    14821             -0.417802
26  The Little Shop of Horrors           6.2    24452             -0.460517
27   The Clan of the Cave Bear           4.7    13853             -0.688136
28           The Swan Princess           6.5    22586             -0.692318
29               Baby Geniuses           3.3    22345             -0.903881

    movieId   imdbId  tmdbId
0      1248    52311    1480
1     33794   372784     272
2      1942    41113   25430
3    122892  2395427   99861
4     25788    23427     877
5      3296    62376   25934
6      1103    48545     221
7      7208    33553    3022
8     96114  1990181   85414
9      4298    48021     934
10    32029   340163    2026
11    67361  1124039   16325
12     4964   233841   43774
13     2898   106664   10349
14    40723   416315    9885
15    77561  1228705   10138
16    94011  1307873   54271
17     3766    87727   15379
18     2247    95593    2321
19      832   117438    3595
20     5917    83365   76397
21     2091    78158   14822
22   102125  1300854   68721
23     5693    76666   11009
24     7577    73822   44864
25     1009    72951   14821
26     2747    54033   24452
27     2147    90848   13853
28      313   111333   22586
29     2555   118665   22345